/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-size:14px;line-height:1.25em}
body.s,.s input,.s textarea,.s select,.s button,.s table{font-family:Helvetica}
body{position:relative; webkit-text-size-adjust:none}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
table{border-collapse:collapse}
hr{display:none !important}
blind,.u_skip{visibility:hidden;overflow:hidden;position:absolute;left:-999em;width:0;height:0;font-size:0;line-height:0}
#content{clear:both;width:100%;}
#content::after{display:block;clear:both;height:1px;margin-top:-1px;content:''}

/*home*/
.ico_register{display:block;background-image:url('../images/ico_register.png');background-size:18px 18px;width:18px;height:18px}
.ico_close{display: block;background-image:url('../images/ico_close.png');background-size:18px 18px;width:18px;height:18px}
.panel{position:relative;}
.panel .content{position:absolute;top:50%;width:100%;color:#fff;text-align:center;}
.dimmed{position:absolute;top:0;left:0;right:0;bottom:0;background: #000;opacity:0.75}

/*detail*/
.table{margin: 0 7px 7px;border: 1px solid #d5d5d5;background-color: #fff;}
.table h3{padding: 14px;background-color: #f0f0f0;border-bottom: 1px solid #ddd;color: #508bed;}
.table .contents{padding: 14px;color: #777;}

