<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="utf-8">
    <title>BlackMarket</title>
    <!--<link rel="/css/main.css"/>-->
</head>
<body>
<div class="wrap" ng-controller="registerCtrl">
    <ul class="menu">
    <li><a href="#/register"><span class="ico_register"></span></a></li>
    </ul>
    <ul>
    <li>
        <div class="panel">
            <img src="{{imageUrl}}" width="100%">
            <div class="dimmed"></div>
            <div class="content">
                <h2>{{name}}</h2>
                <p>{{description}}</p>
                <span>{{discount}}%</span>
            </div>
        </div>
    </li>
    </ul>
</div>

</body>
</html>