
<!DOCTYPE HTML>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>타임세일</title>
    <link rel="/css/main.css"/>
</head>
<body>
<div class="wrap">
    <div class="menu" align="right">
        <a href="#/home"><img src="../app/images/close.png" style="width: 30px"></a>
    </div>
    <div>
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQy8f6n5Q8TTMGezP1O5RzAkztAme9khbN6Lv1BbNUEqwtBfsYaOQ">
    </div>

    <div class="task_info">
        <dl>
            <dt class="ma" >가게이름</dt>
            <dd>
                <input id="store">
            </dd>
            <dt class="ma">할인</dt>
            <dd>
                <input id="discount">
            </dd>
            <dt class="ma" >이미지주소</dt>
            <dd>
                <input id="imageUrl">
            </dd>
            <dt class="ma">설명</dt>
            <dd>
                <input id="descript" style="height: 100px">
            </dd>
        </dl>
    </div>
    <button style="width: 245px">SAVE</button>
</div>
</body>
</html>