<!DOCTYPE HTML>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>BlackMarket</title>
    <link rel="/css/main.css"/>
</head>
<body>
<div class="wrap">
    <ul class="menu">
        <li><a href="#/home" class="ico_close"></a></li>
    </ul>
    <div>
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQy8f6n5Q8TTMGezP1O5RzAkztAme9khbN6Lv1BbNUEqwtBfsYaOQ">
    </div>
    <div class="task_info">
        <dl>
            <dt>가게이름</dt>
            <dd>
                <input id="store">
            </dd>
            <dt>할인</dt>
            <dd>
                <input id="discount">
            </dd>
            <dt>이미지주소</dt>
            <dd>
                <input id="imageUrl">
            </dd>
            <dt>설명</dt>
            <dd>
                <input id="description">
            </dd>
        </dl>
    </div>
    <input type="button" value="save"></button>
</div>
</body>
</html>